@{
    ViewData["Title"] = "Home Page";
}

@if(TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>@TempData["Message"]</p>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
}


<div class="row">
    <div class="col-md-6 col-sm-6">
        This is column 1. I'll put basic info
        in here.
    </div>
    <div class="col-md-3 col-sm-6">
        Another column here. More information about the games we sell.
    </div>
    <div class="col-md-3 col-sm-6">
        More about upcoming features and whatnot.
    </div>
</div>

<div class="jumbotron">
    <h1 class="display-4">Welcome to Robert's Game Emporium</h1>
    <p class="lead">You can look at the games we have in stock in the game library.</p>
</div>