@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-sm-6">
        This is column 1. I'll put basic info
        in here.
    </div>
    <div class="col-md-3 col-sm-6">
        Another column here. More information about the games we sell.
    </div>
    <div class="col-md-3 col-sm-6">
        More about upcoming features and whatnot.
    </div>
</div>

<a class="btn btn-secondary" href="https://google.com">
    Google It!
</a>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>