@model VideoGame
@{
    ViewData["Title"] = "Add a new game";
}

<h1>Add a new game</h1>

<form method="post">
    <label asp-for="Title"></label>
    <input asp-for="Title" />
    <span asp-validation-for="Title"></span>
    <br />

    <label asp-for="Rating"></label>
    <input asp-for="Rating" />
    <span asp-validation-for="Rating"></span>
    <br />

    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <span asp-validation-for="Description"></span>
    <br />

    <label asp-for="Price"></label>
    <input asp-for="Price" />
    <span asp-validation-for="Price"></span>
    <br />

    <input type="submit" value="Add Game" />
</form>

@*
    Add reference to jquery validation which does client validation    
*@
<partial name="_ValidationScriptsPartial" />