@model VideoGame
@{
    ViewData["Title"] = "Add a new game";
}

<h1>Add a new game</h1>

<form method="post">
    <label asp-for="Title"></label>
    <input class="form-control" asp-for="Title" />
    <span asp-validation-for="Title"></span>
    <br />

    <label asp-for="Rating"></label>
    <select class="form-control" asp-for="Rating">
        <option>E</option>
        <option>E10+</option>
        <option>T</option>
        <option>M</option>
        <option>A</option>
    </select>
    <span asp-validation-for="Rating"></span>
    <br />

    <label asp-for="Description"></label>
    <input class="form-control" asp-for="Description" />
    <span asp-validation-for="Description"></span>
    <br />

    <label asp-for="Price"></label>
    <input class="form-control" asp-for="Price" />
    <span asp-validation-for="Price"></span>
    <br />

    <input class="btn btn-primary" type="submit" value="Add Game" />
</form>

@*
    Add reference to jquery validation which does client validation    
*@
<partial name="_ValidationScriptsPartial" />